<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Pi API</title>
</head>

<body>
    <div class="container my-5" align="center">
        <Button class="btn btn-dark btn-sm" id="led_status">LED Status</Button>
        <Button class="btn btn-dark btn-sm" id="led_on">LED ON</Button>
        <Button class="btn btn-dark btn-sm" id="led_off">LED OFF</Button>
        <Button class="btn btn-dark btn-sm" id="dht">DHT</Button>
        <Button class="btn btn-dark btn-sm" id="temp">Temperature</Button>
        <Button class="btn btn-dark btn-sm" id="hum">Humidity</Button>
    </div>
    <hr>
    <div class="container" align="center">
        <p id="info"></p>
    </div>

    <script>
        $(document).ready(function () {
            $("#led_status").click(function () {
                console.log('led_status');

                $.getJSON('http://127.0.0.1:5000/api/v1/led/status', function (data) {
                    console.log(data.date);
                    console.log(data.time);
                    console.log(data.status);

                    $("#info").append('Data: ' + data.date + '<br>');
                    $("#info").append('Time: ' + data.time + '<br>');
                    $("#info").append('LED Status: ' + data.status + '<br>');
                    $("#info").append('<hr>');
                });
            });

            $("#led_on").click(function () {
                console.log('led_on');

                $.getJSON('http://127.0.0.1:5000/api/v1/led/on', function (data) {
                    console.log(data.date);
                    console.log(data.time);
                    console.log(data.status);

                    $("#info").append('Data: ' + data.date + '<br>');
                    $("#info").append('Time: ' + data.time + '<br>');
                    $("#info").append('LED Status: ' + data.status + '<br>');
                    $("#info").append('<hr>');
                });
            });

            $("#led_off").click(function () {
                console.log('led_off');

                $.getJSON('http://127.0.0.1:5000/api/v1/led/off', function (data) {
                    console.log(data.date);
                    console.log(data.time);
                    console.log(data.status);

                    $("#info").append('Data: ' + data.date + '<br>');
                    $("#info").append('Time: ' + data.time + '<br>');
                    $("#info").append('LED Status: ' + data.status + '<br>');
                    $("#info").append('<hr>');
                });
            });


            $("#dht").click(function () {
                console.log('dht');
                $.getJSON('http://127.0.0.1:5000/api/v1/dht', function (data) {
                    console.log(data.date);
                    console.log(data.time);
                    console.log(data.temperature);
                    console.log(data.humidity);

                    $("#info").append('Data: ' + data.date + '<br>');
                    $("#info").append('Time: ' + data.time + '<br>');
                    $("#info").append('Temperature: ' + data.temperature + '<br>');
                    $("#info").append('Humidity: ' + data.humidity + '<br>');
                    $("#info").append('<hr>');
                });
            });

            $("#temp").click(function () {
                console.log('led_status');
                $.getJSON('http://127.0.0.1:5000/api/v1/dht/temperature', function (data) {
                    console.log(data.date);
                    console.log(data.time);
                    console.log(data.temperature);

                    $("#info").append('Data: ' + data.date + '<br>');
                    $("#info").append('Time: ' + data.time + '<br>');
                    $("#info").append('Temperature: ' + data.temperature + '<br>');
                    $("#info").append('<hr>');
                });
            });


            $("#hum").click(function () {
                console.log('led_status');
                $.getJSON('http://127.0.0.1:5000/api/v1/dht/humidity', function (data) {
                    console.log(data.date);
                    console.log(data.time);
                    console.log(data.humidity);

                    $("#info").append('Data: ' + data.date + '<br>');
                    $("#info").append('Time: ' + data.time + '<br>');
                    $("#info").append('Humidity: ' + data.humidity + '<br>');
                    $("#info").append('<hr>');
                });
            });

        });
    </script>
</body>

</html>